* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../images/hero-bg.png);
    background-attachment: fixed;
    background-size: cover;
    background-position: left 1px;
    background-size: cover;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #012970;
    font-weight: bold;
}

p {
    color: #444;
}

/*=======================*/
/*        NAVBAR         */
/*=======================*/

.navbar {
    font-family: 'Nunito', sans-serif;
    padding: 10px 100px;
    transition: all 0.5s;
}

.nav-img {
    width: 8%;
}

.navbar-brand {
    color: #012970;
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    width: 30%;
}

.navbar-nav {
    margin-right: 210px;
}

.navbar-item {
    margin-top: 10px;
    margin-right: 60px;
    padding: 0px 5px;
}

.nav-link {
    font-size: 16px;
    font-weight: bold;
}

.login {
    background-color: #4154f1;
    border-radius: 5px;
    box-shadow: 0 0 30px rgba(1, 41, 112, 8%);
    font-weight: bold;
    padding: 8px 18px;
}

/* FOR STICKY NAVBAR ON SCROLL */

.sticky {
    background-color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    transition: 0.2s ease;
    z-index: 2;
}

/*=======================*/
/*     HOME & PROMO      */
/*=======================*/

#home {
    height: 100vh;
}

.home-promo {
    display: flex;
    height: 75vh;
    margin-top: 80px;
}

.home-intro {
    margin-top: 70px;
    margin-left: 110px;
    text-align: left;
}

.intro-heading {
    font-size: 45px;
    margin-top: 25px;
    padding-right: 100px;
}

.intro-description {
    font-size: 25px;
    line-height: 1.2;
    padding: 0 100px 0 0;
    margin-top: 30px;
    margin-bottom: 70px;
    width: 90%;
}

.get-started {
    background-color: #4154f1;
    border: 1px transparent;
    border-radius: 10px;
    box-shadow: 0 5px 30px rgba(65, 84, 241, 40%);
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    padding: 15px 25px;
    text-decoration: none;
}

.get-started:hover {
    background-color: #0d55fd;
}

.demo {
    background-color: transparent;
    border: 1px transparent;
    color: #012970;
    font-size: 18px;
    font-weight: bold;
    margin: 0 25px;
    padding: 15px 25px;
}

.demo:hover {
    background-color: #4154f1;
    border: 1px transparent;
    border-radius: 10px;
    color: #fff;
    padding: 15px 25px;
    transition: .4s ease;
}

.custom-video {
    margin-right: 200px;
}

.intro-video1 {
    border-radius: 20px;
    height: 450px;
    position: relative;
    right: 190px;
    bottom: 30px;
}

.intro-video2 {
    border-top-right-radius: 30px;
    border-top-left-radius: 10%;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    position: relative;
    bottom: 130px;
    left: 80px;
    width: 400px;
}

.intro-image {
    border-radius: 20px;
    width: 340px;
    height: 230px;
    position: relative;
    bottom: 620px;
    left: 20px;
}


/*=======================*/
/*        ABOUT          */
/*=======================*/

#about {
    background: #fff;
    padding: 120px 0;
}

.about-heading {
    color: #4154f1;
    font-size: 15px;
    margin-top: 20px;
}

.about-company {
    display: flex;
}

.company-desc {
    background: #f6f9ff;
    margin-left: 100px;
    padding: 30px 40px;
    text-align: justify;
}

.company-desc-head {
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 15px;
    text-align: left;
}

.comp-desc {
    font-size: 17px;
    justify-content: left;
    margin-bottom: 45px;
}

.read-more {
    box-shadow: 0 5px 30px rgba(65, 84, 241, 40%);
    margin-top: 15px;
    padding: 12px 25px;
}

.company-video {
    margin-right: 120px;
    padding-left: 0;
    width: 650px;
}

/*=======================*/
/*      PROPERTIES       */
/*=======================*/

#properties {
    margin-top: 50px;
}

.prop-head1 {
    color: #0d6efd;
    font-size: 24px;
    font-weight: 600;
}

.prop-head2 {
    font-size: 35px;
}

.prop-boxes {
    display: flex;
    margin: 120px 100px;
}

.prop-card {
    background: #f6f9ff;
    border: 1px transparent;
    box-shadow: 0 5px 30px rgba(62, 67, 116, 0.25);
    border-radius: 20px;
    margin: 0 15px;
    height: 290px;
    width: 30%;
}

.prop-icon {
    background: #fff;
    border: 1px transparent;
    border-radius: 60%;
    box-shadow: 0 5px 30px rgba(62, 67, 116, 0.2);
    color: #0d6efd;
    font-size: 30px;
    padding: 15px 22px;
    position: relative;
    bottom: 30px;
}

.prop-card-head {
    margin-top: 10px;
    margin-bottom: 20px;
}

.card-heading {
    font-size: 20px;
}

.prop-card-body {
    text-align: left;
    margin-left: 30px;
}

.card-description {
    width: 90%;
}

/*=======================*/
/*       SERVICES        */
/*=======================*/

#services {
    background-color: #fff;
    margin: 0;
    padding: 60px 120px;
}

.service-head2 {
    margin-bottom: 80px;
}

.service-elaborate {
    text-align: left;
}

.service {
    display: flex;
}

.service-description {
    text-align: left;
    width: 120%;
}

.service-description-head {
    font-size: 25px;
}

.top-head {
    font-size: 40px;
}

.service-desc {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
    width: 90%;
}

.top-desc {
    font-size: 20px;
    margin-bottom: 50px;
    width: 70%;
}

.service-image {
    border: 1px transparent;
    border-radius: 10px;
    box-shadow: 0 5px 30px rgba(62, 67, 116, 0.5);
    height: 500px;
    width: 140%;
    margin-top: 20px;
}

.watch {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    height: 420px;
}

.serv-btn {
    background-color: #fff;
    border: 1px transparent;
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    padding: 26px 0;
    width: 33.3%;
}

.sensor {
    border-bottom-left-radius: 10px;
    background-color: #F5F5F5;
}

.sound {
    border-bottom-right-radius: 10px;
    background-color: #F5F5F5;
}

/*=======================*/
/*       WORKFLOW        */
/*=======================*/

#workflow {
    padding: 120px 0;
}

.workflow-heading {
    font-size: 48px;
    margin: 0 auto;
    width: 45%;
}

.workflow-description {
    font-size: 20px;
    font-weight: 600;
    margin: 20px auto 100px;
    width: 55%;
}

.work-image {
    background-color: #fff;
    border: 1px transparent;
    border-radius: 20px;
    box-shadow: 0 5px 30px rgba(62, 67, 116, 0.5);
    height: 850px;
    width: 85%;
    margin: 50px auto;
}

.flowchart {
    margin-top: 120px;
    position: relative;
    left: 50px;
    width: 80%;
}

.flowchart1 {
    width: 10%;
    visibility: hidden;
}

/*=======================*/
/*       CONTACT         */
/*=======================*/

#contact {
    background-color: #f6f9ff;
    padding: 50px 0;
}

.contact-us {
    display: flex;
    margin: 20px 100px;
}

.contact-head {
    font-size: 50px;
    font-weight: 900;
    margin-top: 120px;
    width: 70%;
}

.contact-form {
    background: #fff;
    border: 1px transparent;
    border-radius: 10px;
    box-shadow: 0 5px 30px rgba(62, 67, 116, 0.3);
    padding: 15px 35px;
    position: relative;
    height: 620px;
    width: 50%;
}

.contact-form-head {
    font-size: 30px;
    margin-top: 15px;
    text-align: left;
}

.contact-field {
    border: 1px transparent;
    border-radius: 5px;
    box-shadow: 0 5px 30px rgba(62, 67, 116, 0.25);
    height: 50px;
    width: 100%;
    margin: 10px 0;
    padding: 0 10px;
}

.msg {
    height: 150px;
    margin-bottom: 30px;
}

.msg-btn {
    text-align: left;
}

.submit {
    box-shadow: 0 5px 30px rgba(65, 84, 241, 30%);
    font-size: 19px;
    padding: 10px 25px;
}

.contact-page-btns {
    margin-top: 90px;
    margin-right: 170px;
}

/*=======================*/
/*      POP-UP PAGE      */
/*=======================*/

.popup-page {
    position: fixed;
    top: 30px;
    left: 400px;
    height: 690px;
    transform: translate(0%, 0%) scale(0.1);
    transition: transform 0.4s, center 0.4s;
    visibility: hidden;
    z-index: 1000;
}

.show-popup {
    visibility: visible;
    transform: translate(0%, 0%) scale(1);
}

.popup-heading {
    font-size: 40px;
}

.close-icon {
    text-align: right;
}

.close {
    cursor: pointer;
    font-size: 35px;
}

/*=======================*/
/*        FOOTER         */
/*=======================*/

#footer {
    background-color: #fff;
}

#footer ul {
    padding: 0;
}

#footer ul li {
    list-style: none;
    margin-top: 10px;
}

#footer ul a {
    color: #000;
    text-decoration: none;
}

.foot-cont1 {
    background-color: #fff;
    background-image: url(../images/footer-bg.png);
    background-repeat: no-repeat;
    background-position: 700px;
    background-size: 700px 350px;
    display: flex;
    padding: 50px 0;
}

.footer-contents {
    display: flex;
    width: 100%;
}

.footer-brand {
    width: 50%;
}

.footer-logo {
    width: 8%;
}

.socials {
    margin-top: 10px;
}

.social-links {
    font-size: 25px;
    margin: 0 10px;
}

.footer-links {
    display: flex;
    width: 100%;
}

.footer-link-details {
    text-align: left;
    width: 33%;
}

.footer-link-head {
    font-weight: bold;
}

.foot-cont2 {
    background-color: #f6f9ff;
    padding: 2% 0;
}

/*=======================*/
/*   RESPONSIVE STYLES   */
/*=======================*/

@media (min-width: 1920px) {

    /* NAVBAR */

    .navbar {
        padding: 10px 200px;
    }

    .navbar-nav {
        margin-right: 300px;
    }

    /* HOME & PROMO */

    .home-promo {
        margin-top: 150px;
    }

    .home-intro {
        margin-left: 210px;
    }

    .intro-heading {
        font-size: 55px;
    }

    .intro-description {
        font-size: 30px;
    }

    .image-video {
        margin-right: 120px;
    }

    .intro-video1 {
        height: 500px;
        right: 210px;
    }

    .intro-video2 {
        width: 450px;
    }

    .intro-image {
        bottom: 720px;
        left: 40px;
        width: 380px;
    }

    /* ABOUT */

    .company-desc {
        margin-left: 200px;
    }

    .about-heading {
        font-size: 18px;
    }

    .company-desc-head {
        font-size: 28px;
    }

    .comp-desc {
        font-size: 20px;
    }

    .company-video {
        margin-right: 200px;
        width: 700px;
    }

    /* PROPERTIES */

    .prop-head1 {
        font-size: 28px;
    }

    .prop-head2 {
        font-size: 38px;
    }

    .prop-boxes {
        margin: 120px 200px;
    }

    .prop-card {
        height: 380px;
    }

    .card-heading {
        font-size: 24px;
    }

    .card-description {
        font-size: 20px;
    }

    /* SERVICES */

    #services {
        padding: 30px 210px;
    }

    .service-description-head {
        font-size: 30px;
    }

    .top-head {
        font-size: 42px;
    }

    .service-desc {
        font-size: 20px;
    }

    .top-desc {
        font-size: 22px
    }

    .service-image {
        width: 100%;
    }

    /* WORKFLOW */

    #workflow {
        padding: 120px 100px;
    }

    .flowchart {
        margin-top: 80px;
    }

    /* CONTACT */

    .contact-heading {
        width: 55%;
    }

    .contact-head {
        font-size: 60px;
        margin: 120px auto 0 auto;
    }

    .contact-form {
        margin-right: 120px;
        width: 40%;
    }

    .contact-page-btns {
        margin-right: 0;
    }

    /* POPUP PAGE */

    .popup-page {
        top: 50px;
        left: 600px;
        height: 720px;
    }

    /* FOOTER */

    .foot-cont1 {
        background-size: 900px 350px;
        background-position: 980px;
    }

    .footer-logo {
        width: 7%;
    }
}

@media (max-width: 1280px) {

    /* NAVBAR */

    .nav-img {
        width: 10%;
    }

    .navbar-nav {
        margin-right: 50px;
    }

    /* HOME & PROMO */

    #home {
        height: 150vh;
    }

    .home-promo {
        flex-wrap: wrap;
    }

    .home-intro {
        margin: 40px auto;
        text-align: center;
    }

    .image-video {
        margin-top: 200px;
    }

    .intro-heading {
        font-size: 60px;
        margin: 0;
        padding: 0;
    }

    .intro-description {
        margin: 40px auto;
        padding: 0;
        width: 80%;
    }

    .intro-video1 {
        height: 550px;
        left: 250px;
        bottom: 150px;
    }

    .intro-video2 {
        left: 220px;
        bottom: 50px;
        width: 480px;
    }

    .intro-image {
        left: 350px;
        bottom: 660px;
        height: 280px;
        width: 420px;
    }

    /* ABOUT */

    .about-company {
        flex-wrap: wrap;
    }

    .company-desc {
        margin: 0;
    }

    .company-video {
        margin: 0 auto;
        width: 100%;
    }

    /* PROPERTIES */

    .prop-boxes {
        flex-wrap: wrap;
    }

    .prop-card {
        margin: 35px 15px;
    }

    /* WORKFLOW */

    #workflow {
        padding: 60px 0;
    }

    .workflow-heading {
        width: 80%;
    }

    .work-image {
        height: 650px;
    }

    .flowchart {
        margin-top: 60px;
        width: 85%;
    }

}

@media (max-width: 991px) {

    /* NAVBAR */

    .navbar {
        padding: 10px 50px;
    }

    .nav-img {
        width: 12%;
    }

    .navbar-brand {
        font-size: 25px;
    }

    .navbar-nav {
        margin: 0;
    }

    .navbar-item {
        margin: 10px 0;
    }

    .login {
        margin-top: 10px;
    }

    /* HOME & PROMO */

    #home {
        height: 120vh;
    }

    .home-promo {
        margin: 0;
    }

    .home-intro {
        margin-top: 35px;
        margin-left: 0;
        text-align: center;
    }

    .intro-heading {
        font-size: 60px;
        padding: 0;
    }

    .intro-description {
        margin: 30px auto 70px auto;
        padding: 0;
        width: 80%;
    }

    .image-video {
        margin-top: 100px;
    }

    .intro-video1 {
        left: 150px;
        bottom: 0;
    }

    .intro-video2 {
        width: 370px;
        top: 80px;
        left: 120px;
    }

    .intro-image {
        height: 230px;
        width: 350px;
        left: 210px;
        bottom: 420px;
    }

    /* ABOUT */

    #about {
        padding: 60px 0;
    }

    .about-company {
        display: block;
    }

    .company-desc {
        margin: 0;
        padding-bottom: 50px;
    }

    .company-video {
        margin: 0 auto;
        width: 100%;
    }

    /* PROPERTIES */

    .prop-boxes {
        margin: 70px 50px;
    }

    .prop-card {
        margin: 40px 15px;
        width: 46%;
    }

    /* SERVICES */

    #services {
        padding: 60px;
    }

    .service {
        flex-wrap: wrap;
    }

    .service-description {
        margin-bottom: 20px;
    }

    .service-desc {
        width: 95%;
    }

    .service-image {
        margin: 30px auto;
        width: 90%;
    }

    /* WORKFLOW */

    #workflow {
        height: 250vh;
        padding: 80px 0;
    }

    .workflow-heading {
        font-size: 40px;
        width: 80%;
    }

    .workflow-description {
        width: 80%;
    }

    .work-image {
        visibility: hidden;
    }

    .flowchart {
        visibility: hidden;
    }

    .flowchart1 {
        position: relative;
        bottom: 480px;
        visibility: visible;
        width: 80%;
    }

    /* CONTACT */

    #contact {
        padding: 50px;
    }

    .contact-us {
        flex-wrap: wrap;
        margin: 20px auto;
    }

    .contact-heading {
        width: 100%;
    }

    .contact-head {
        margin: 0 auto;
        width: 90%;
    }

    .contact-form {
        margin: 30px auto;
        width: 80%;
    }

    .contact-page-btns {
        margin: 50px auto;
    }

    /* POP-UP PAGE */

    .popup-page{
        top: -5px;
        left: 90px;
        height: 680px;
    }

    /* FOOTER */

    .foot-cont1 {
        background-position: 300px;
    }

    .footer-contents {
        flex-wrap: wrap;
    }

    .footer-brand {
        margin-left: 70px;
        text-align: left;
        width: 100%;
    }

    .footer-logo {
        width: 5%;
    }

    .footer-links {
        margin: 30px 0 0 70px;
    }

}

@media (max-width: 849px) {

    /* HOME & PROMO */

    #home {
        height: 120vh;
    }

    .intro-heading {
        font-size: 55px;
    }

    .intro-video1 {
        left: -80px;
        bottom: 40px;
    }

    .intro-video2 {
        left: 210px;
        top: -130px;
    }

    .intro-image {
        left: 180px;
        bottom: 720px;
    }

    /* PROPERTIES */

    .prop-card {
        width: 45%;
    }

    /* WORKFLOW */

    #workflow {
        height: 220vh;
    }

    .conatct-head {
        font-size: 45px;
        width: 100%;
    }

    /* FOOTER */

    .footer-links {
        flex-wrap: wrap;
    }

    .footer-link-details {
        width: 50%;
    }
}

@media (min-width: 673px) and (max-width: 768px) {

    /* HOME & PROMO */

    .intro-heading {
        font-size: 48px;
    }

    .intro-descripton {
        font-size: 28px;
    }

    /* PROPERTIES */

    .prop-card {
        margin: 50px 130px;
        width: 70%;
    }

    /* WORKFLOW */

    #workflow {
        height: 200vh;
    }

    .flowchart1 {
        margin-top: 50px;
    }

    /* CONTACT */

    .contact-form {
        width: 90%;
    }
}

@media (max-width: 672px) {

    /* HOME & PROMO */

    .intro-heading {
        font-size: 35px;
    }

    .intro-description {
        font-size: 20px;
    }

    .intro-video1 {
        height: 400px;
        left: -30px;
    }

    .intro-video2 {
        left: 170px;
        width: 300px;
    }

    .intro-image {
        height: auto;
        width: 260px;
        left: 140px;
        bottom: 580px;
    }

    /* PROPERTIES */

    .prop-head2 {
        font-size: 30px;
    }

    .prop-card {
        margin: 50px 80px;
        width: 80%;
    }

    /* WORKFLOW */

    #workflow {
        height: 170vh;
    }

    .flowchart1 {
        margin-top: 50px;
    }
}

@media (max-width: 542px) {

    /* NAVBAR */

    .navbar {
        padding: 10px 20px;
    }

    .nav-img {
        width: 20%;
    }

    /* HOME & PROMO */

    #home {
        height: 90vh;
    }

    .intro-video1 {
        height: 320px;
    }

    .intro-video2 {
        height: auto;
        width: 280px;
    }

    .intro-image {
        left: 90px;
        bottom: 500px;
        height: auto;
        width: 220px;
    }

    /* PROPERTIES */

    .prop-head2 {
        font-size: 25px;
    }

    .prop-card {
        margin: 50px;
        width: 80%;
    }

    /* WORKFLOW */

    #workflow {
        height: 140vh;
    }

    .workflow-heading {
        font-size: 35px;
    }

    .flowchart1 {
        margin-top: 150px;
    }

    /* CONTACT */

    .contact-head {
        font-size: 40px;
    }

    .contact-form {
        width: 100%;
    }

    /* FOOTER */

    .footer-logo {
        width: 7%;
    }
}

@media (max-width: 452px) {

    /* NAVBAR */

    .navbar {
        padding: 10px 5px;
    }

    .navbar-brand {
        font-size: 18px;
    }

    /* HOME & PROMO */
    
    #home {
        height: 120vh;
    }

    .intro-heading {
        font-size: 25px;
    }

    .intro-description {
        font-size: 18px;
    }

    .intro-video1 {
        height: 260px;
        left: 0;
    }

    .intro-video2 {
        left: 150px;
        height: auto;
        width: 200px;
    }

    .intro-image {
        bottom: 450px;
        left: 75px;
        height: auto;
        width: 180px;
    }

    .demo {
        margin-top: 40px;
    }

    /* PROPERTIES */

    .prop-card {
        margin: 50px auto;
        height: 320px;
        width: 100%;

    }

    /* SERVICES */

    #services {
        height: 260vh;
        padding: 60px 10px;
    }

    .service-head2 {
        font-size: 23px;
    }

    .service-description-head {
        font-size: 20px;
    }

    .service-desc {
        font-size: 18px;
    }

    .service-image {
        height: 200px;
        width: 90%;
    }

    .watch {
        height: 200px;
    }

    /* WORKFLOW */

    #workflow {
        height: 170vh;
    }

    .flowchart1 {
        margin-top: 180px;
    }

    /* CONTACT */

    #contact {
        padding: 50px 10px;
    }

    .contact-head {
        font-size: 35px;
    }

    /* POP-UP PAGE */

    .popup-page {
        top: 50px;
        left: 0;
    }

    /* FOOTER */

    .footer-brand {
        margin-left: 20px;
    }

    .footer-links {
        margin-left: 20px;
    }

    .footer-link-details {
        width: 70%;
    }

    .foot-cont2 {
        font-size: 12px;
    }
}

@media (max-width: 378px) {

    /* NAVBAR */

    .navbar {
        padding: 10px;
    }

    .navbar-brand {
        font-size: 18px;
    }

    /* HOME & PROMO */

    #home {
        height: 120vh;
    }

    .intro-heading {
        font-size: 25px;
    }

    .intro-description {
        font-size: 20px;
    }

    .demo {
        margin-top: 40px;
    }

    .intro-video1 {
        height: 250px;
        left: -5px;
    }

    .intro-video2 {
        height: auto;
        width: 200px;
        left: 120px;
    }

    .intro-image {
        bottom: 450px;
        left: 60px;
        height: auto;
        width: 180px;
    }

    /* PROPERTIES */

    .prop-card {
        height: 320px;
    }

    /* SERVICES */

    #services {
        padding: 60px 40px;
    }

    .service-head2 {
        font-size: 23px;
    }

    .service-description-head {
        font-size: 20px;
    }

    .service-desc {
        font-size: 18px;
    }

    .service-image {
        height: 350px;
        width: 100%;
    }

    /* WORKFLOW */

    #workflow {
        height: 170vh;
    }

    .flowchart1 {
        margin-top: 190px;
    }

    /* CONTACT */

    .contact-head {
        font-size: 20px;
    }

    /* FOOTER */

    .footer-brand {
        margin-left: 20px;
    }

    .footer-links {
        margin-left: 20px;
    }

    .footer-link-details {
        width: 70%;
    }

    .foot-cont2 {
        font-size: 12px;
    }
}